.MultipleChoiceForm-button {
  display: block;
  padding: 0.5em 1em;
  border: none;
  width: 100%;
  background-color: transparent;
  text-align: left;
  color: $base-text-color;
  cursor: pointer;

  &:hover {
    background-color: $highlight-bg-color;
  }

  &:disabled {
    cursor: default;

    &:hover {
      background-color: transparent;
    }

    .is-chosen & {
      background-color: $highlight-bg-color;
    }
  }

  .is-chosen & {
    background-color: $highlight-bg-color;
  }
}

.MultipleChoiceForm-choiceNumber {
  color: $muted-text-color;
}
