.QuizBox {
  margin: 0 0 $base-spacing * 2 0;
  border: 1px solid $border-color;
  background-color: $base-bg-color;
}

.QuizBox-header {
  padding: $base-spacing / 2;
  border-bottom: 1px solid $border-color;
  font-size: $small-font-size;
}

.QuizBox-body {
}

.QuizBox-question {
  margin: 0;
  padding: $base-spacing /2;
}

.QuizBox-grade {
  padding: $base-spacing / 2;
  min-height: 53px;
}

.QuizBox-gradeText {
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: $small-font-size;
  font-weight: $bold-font-weight;
}

.QuizBox-names {
  color: $base-text-color;
}

.QuizBox-fullname {
  font-weight: $bold-font-weight;
  color: $emphasized-text-color;
}

.QuizBox-username {
  font-family: monospace;
  color: $color-cyan;
}

.QuizBox-names:hover .QuizBox-fullname {
  color: $link-hover-color;
}

.QuizBox-timestamp {
  margin-left: $base-spacing;
  font-family: monospace;
  color: $muted-text-color;

  &::before {
    content: '(';
  }

  &::after {
    content: ')';
  }
}
