.QuizBox {
  margin: $base-spacing * 2 0 $base-spacing * 2 0;
  padding-top: $base-spacing;
  border-top: 1px dashed $border-color;
  background-color: $base-bg-color;
}

.QuizBox-header {
  position: relative;  /* to position loader absolutely */
  padding: $base-spacing / 2;
  text-align: right;
  font-size: $small-font-size;
}

.QuizBox-footer {
  padding: $base-spacing / 2;
  padding-bottom: 0;
  min-height: 60px;
}

.QuizBox-loader {
  position: absolute;
}

.QuizBox-names {
  color: $base-text-color;
}

.QuizBox-fullname {
  color: $emphasized-text-color;
}

.QuizBox-username {
  font-family: monospace;
  color: $color-cyan;
}

.QuizBox-names:hover .QuizBox-fullname {
  color: $link-hover-color;
}

.QuizBox-timestamp {
  margin-left: $base-spacing;
  font-family: monospace;
  color: $muted-text-color;
}

.QuizBox-question {
  margin: 0;
  padding: $base-spacing /2;
}
