.QuizSubmitForm {
  background-color: $highlight-bg-color;

  @include clearfix();
}

.QuizSubmitForm-answer {
  float: left;
  width: 100%;
  margin-right: -130px;
  padding-right: 130px;
}

.QuizSubmitForm-answerSubmit {
  float: right;
  padding: $base-spacing / 3;
}
