.Quiz {
  background-color: $color-pale-gray;
  margin: $base-spacing 0;
  padding: $base-spacing / 2 $base-spacing;
}

.Quiz-header > * {
  margin-right: $base-spacing / 2;
}

.Quiz-timestamp {
  color: $muted-text-color;
}


