.UserBox {
  background-color: $color-pale-gray;
  margin: $base-spacing 0;
  padding: $base-spacing / 2 $base-spacing;
}

.UserBox-username {
  color: $muted-text-color;
}

.UserBox-body {
  margin: 1em 0;
}
