.UserBox {
  background-color: $base-bg-color;
  margin: $base-spacing 0;
}

.UserBox-names {
  color: $base-text-color;
}

.UserBox-fullname {
  font-weight: $bold-font-weight;
  color: $emphasized-text-color;
}

.UserBox-names:hover {
  .UserBox-fullname {
    color: $link-hover-color;
  }
}

.UserBox-username {
  font-family: monospace;
  color: $color-cyan;
}

.UserBox-body {
  margin: 1em 0;
}
