.UserBox {
  background-color: $color-pale-gray;
  margin: $base-spacing 0;
  padding: $base-spacing / 2 $base-spacing;
}

.UserBox-names {
  color: $base-text-color;
}

.UserBox-fullname {
  font-weight: $bold-font-weight;
}

.UserBox-username {
  font-family: monospace;
}

.UserBox-body {
  margin: 1em 0;
}
