/* ==========================================================================
   #BUTTONS / OBJECTS
   ========================================================================== */

/**
 * .Button 클래스는 button, Input:submit, Input:button, a 태그에 사용한다.
 *
 * 1. 대략의 브라우저 디폴트 값인 1.2로 맞춘다.
 *    몇몇 브라우저에서 line-height는 버튼이나 인풋 요소에 효력이 없기 때문에.
 */
.Button {
    -webkit-appearance: none;
    display: inline-block;
    border: 0;
    padding: 0.75em 1.4em;
    background-color: $btn-default-bg;
    line-height: 1.2; /* 1 */
    font-family: inherit;
    font-style: inherit;
    font-size: $btn-small-font-size;
    font-weight: $base-font-weight;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $btn-default-text-color;
    cursor: pointer;

    &:hover {
      color: $link-hover-color;
    }

    &:active {
    }

    &.is-disabled,
    &:disabled {
        color: $muted-text-color;
        cursor: default;
    }

    &.is-disabled:hover,
    &.is-disabled:active,
    &:disabled:hover,
    &:disabled:active {
        color: $muted-text-color;
    }
}

.Button--primary {
    background-color: $btn-primary-bg;
    color: $btn-primary-text-color;

    &:hover {
        background-color: darken($btn-primary-bg, 7%);
        color: $btn-primary-text-color;
    }

    &:active {
        background-color: darken($btn-primary-bg, 15%);
    }
}

.Button--small { font-size:  0.75em; }
.Button--large { font-size: 1.333em; }
