/* ==========================================================================
   #BOX / UTIL
   ========================================================================== */

.u-fillBox {
    width: auto;
    display: block;
}

.u-fitBox {
    width: auto;
    float: left;

}
