.buttonText-enter {
  opacity: 0;
  transform: translateY(50px);
}
.buttonText-enter.buttonText-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 300ms ease-in;
}
.buttonText-leave {
  opacity: 1;
  transform: translateY(0);
}
.buttonText-leave.buttonText-leave-active {
  opacity: 0;
  transform: translateY(-50px);
  transition: all 300ms ease-in;
}
