/**
 * GENERIC
 * Normalize.css
 *
 * SETTINGS
 * colors
 * settings
 * Functions
 * Mixins
 * Placeholders
 * Responnsive --------- Breakpoints
 *
 * BASE
 * Base
 * Typography
 * Forms
 *
 * OBJECTS
 * Grid ---------------- Grid system
 * Buttons
 * Field
 *
 * UTILS
 * Layout
 */



/**
 * SETTINGS
 */
@import "settings/colors";
$base-font-size: 18px;
@import "settings/settings";
@import "settings/mixins";
@import "settings/responsive";

/**
 * GENERIC
 */
@import "~normalize.css/normalize.css";
@import "generic/box-sizing";

/**
 * BASE
 */
@import "base/base";
@import "base/typography";
@import "base/forms";

/**
 * OBJECTS
 */
@import "objects/grid";
@import "objects/buttons";
@import "objects/field";

/**
 * UTILS
 */
@import "utils/clearfix";
@import "utils/size";
$enable-grid-prefix: true;
@import "utils/prefix";
$enable-bg-class: true;
@import "utils/bg";
@import "utils/states";

/**
 * COMPONENTS
 */
@import "components/NavBar";
@import "components/Quiz";
@import "components/User";

