// ============================================================================
// #COLORS / SETTINGS
// ============================================================================

$color-mild-black:    #444;
$color-pale-gray:     #efefef;
$color-light-gray:    #ccc;
$color-gray:          #999;

$color-viridian:      #468966;
$color-vis-vis:       #fff0a5;
$color-yellow-orange: #ffb03b;
$color-red-brown:     #b64926;
$color-crimson:       #8e2800;

$color-hamton:        #e6e2af;
$color-hillary:       #a7a37e;
$color-sand:          #efecca;
$color-venice:        #046380;
$color-deep-teal:     #002f2f;
