// ============================================================================
// #MIXINS / SETTINGS
// ============================================================================

/// Clearfix
@mixin clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

/// Box-sizing
@mixin box-sizing($box: border-box) {
    box-sizing: $box;
}

@mixin media($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media #{map-get($breakpoints, $breakpoint)} {
            @content;
        }
    }

    @else {
        @warn "No breakpoint named "#{$breakpoint}".";
    }
}



// @todo: grid, size
//   Usage:
//     include grid ----> no arguments
//     include size(6, 12)
