// ============================================================================
// #SETTINGS / SETTINGS
// ============================================================================

// Base Variables
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$bold-font-weight: bold !default;

$base-line-height: 1.45 !default;
$base-spacing: $base-font-size * $base-line-height !default;

$base-radius: 3px !default;

$base-bg-color:      $color-base03 !default;
$highlight-bg-color: $color-base02 !default;
$inverse-bg-color:   $color-light-gray !default;

$base-text-color:       $color-base0 !default;
$emphasized-text-color: $color-base1 !default;
$inverse-text-color:    $color-black !default;
$muted-text-color:      $color-base01 !default;
$title-text-color:      $color-blue !default;
$border-color: $muted-text-color;
$heading-color: $color-red;
$accent-color: #eee;

$hr-color:         $color-light-gray !default;
$help-text-color:  lighten($base-text-color, 15%) !default;

$link-color: $color-green !default;
$link-hover-color: $color-orange !default;
// $link-visited-color: $color-hillary !default;

$h1-size: 1.296em !default;
$h2-size: 1.215em !default;
$h3-size: 1.138em !default;
$h4-size: 1.067em !default;
$h5-size: 1em !default;
$h6-size: 0.937em !default;
$small-font-size: 0.937em !default;

$body-font-family: "Source Code Pro", monospace;

// Grid Variables
$column-count: 12 !default;
$gutter: $base-spacing * 1.5 !default;

// Button Variables
$btn-small-font-size: .8em !default;
$btn-large-font-size: 2em !default;

$btn-default-bg: transparent;
$btn-default-text-color: $base-text-color;

$btn-primary-bg: $btn-default-bg;
$btn-primary-text-color: $color-blue;

// Form Variables
$field-bg-color: $color-pale-gray !default;
$field-error-color: $color-red !default;
$field-required-color: red !default;

// Icon Variables
$icon-roundness: 3px;
$icon-border-color: #ccc;

// Feedback Variabels
$information-color: #439ccf;
$error-color: $color-red;
$warning-color: #d35400;
$success-color: #74a730;

// Navigation Variables
$navbar-link-color: $base-text-color;
$navbar-submenu-bg: #dde2e4;

// Tabs Variables
$tabs-border-color: #ccc;
$tabs-inactive-bg-color: #c1cacd;
$tabs-active-bg-color: #fff;

// Accordion Variables
$accordion-border-color: #ccc;
$accordion-inactive-bg-color: #c1cacd;
$accordion-active-bg-color: #333;
$accordion-active-text-color: #fff;
